<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<h2>Client</h2>
{% for client in clients %}
{{ client.name }}
{% endfor %}
<!---->


<h2>
    Clientes
</h2>
<h3>
    <a href="{% url 'client:new_client' %}">Criar cliente</a>
</h3>
<div>
    <table>
        <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Gênero
            </th>
            <th>
                Editar
            </th>
            <th>
                Delete
            </th>
        </tr>
        </thead>
        {% for client in clients %}
        <tr>
            <td>
                {{ client.name }}
            </td>
            <td>
                {{ client.cpf }}
            </td>
            <td>
                {{ client.birth_date }}
            </td>
            <td>
                {{ client.gender }}
            </td>
            <td>
                {% for plan in client.plan_set.all %}
                {{ ChoosePlan.plan }}
                {%endfor%}
            </td>
            <td>
                <a href="{% url 'telecom_system:create_client' client.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'cliente:deletar_cliente' cliente.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>