<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar</title>
</head>
<body>
<nav>
    <a href="/">Home</a>
</nav>
<h2>
    {% if client %}
    Editar
    {% else %}
    Criar
    {% endif %}
    Cliente</h2>


<form action="
{% if client %}
{% url 'telecom_system:client' client.id %}
{% else %}
{% url 'telecom_system:new_client'  %}
{% endif %}" method="post">
    <h2>Cliente</h2>
    {% csrf_token %}
    {{ form_client }}
    <input type="submit" value="Enviar">
</form>
{% if client %}
    {% for plan in client.chooseplan_set.all %}
<ul>
    <li>
        {{ plan.plans }}
        <a href="{% url 'telecom_system:delete_plan' plan.id %}">x</a>
    </li>
</ul>
    {%endfor%}
{% else %}

{% endif %}
</body>
</html>