<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

    </style>
</head>
<body>
<nav>
    <a href="/">Home</a>
</nav>

<h2>
    Clientes
</h2>
<h3>
    <a href="{% url 'telecom_system:new_client' %}">Criar cliente</a>
</h3>
<div>
    <table id="customers">
        <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                Data de Nascimento
            </th>
            <th>
                Gênero
            </th>
            <th>
                Planos
            </th>
            <th>
                Dados utilizados
            </th>
            <th>
                Adicionar Planos
            </th>
            <th>
                Editar
            </th>
            <th>
                Delete
            </th>
        </tr>
        </thead>
        {% for client in clients %}
        <tr>
            <td>
                {{ client.name }}
            </td>
            <td>
                {{ client.cpf }}
            </td>
            <td>
                {{ client.birth_date }}
            </td>
            <td>
                {{ client.gender }}
            </td>
            <td>
                {% for plan in client.chooseplan_set.all %}
                {{ plan.plans }},
                {%endfor%}
            </td>
            <td>
                {% for data in client.datausage_set.all %}
                {{ data.data_usage }} GB
                {%endfor%}
            </td>
            <td>
                <a href="{% url 'telecom_system:add_plan' client.id %}"> Adicionar Plano </a>
            </td>
            <td>
                <a href="{% url 'telecom_system:client' client.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'telecom_system:delete_client' client.id %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>